/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Website Styles */

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    margin: 1em;
    background-color: black;
    color: #D3D3D3;
}

.page-wrapper {
    margin: 0 auto;
    width: 75%;
}

h1, h2, h3, p, ul, li, img {
    margin-bottom: 0.618em;
}

article {
    margin-bottom: 1.236em;
}

h1 {
    font-size: 3.236em;
    font-weight: normal;
    white-space: nowrap;
}

h2 {
    font-size: 1.618em;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p {
    font-size: 1em;
}

a {
    color: #7BACDD;
    text-decoration: underline;
}

a:visited {
    color: #6C7A89;
}
a:hover {
    color: #D3D3D3;
}

li {
    list-style-type: disc;
}

.outbound-links li {
    list-style-type: none;
}

footer {
    font-size: 10px;
}

.subtitle {
    font-style: italic;
}

/* Media queries */

@media screen and (max-width: 650px) {
    body {
        margin: 1em 1.5em;
    }
    h1 {
        font-size: 2.157em;
    }
    .page-wrapper {
        margin: 0 auto;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.157em;
    }
}
